@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700');
@import url('https://fonts.googleapis.com/css?family=Raleway');
* {	margin:0; padding:0; box-sizing:border-box;}
body {
	background-color: #FFFAB4;
	color:#333;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}
nav{
	font-weight: bold;
	float:right;
	margin-top: 1.5em;
}
nav a {
	color:inherit;
	display:inline-block;
	padding:1em;
	text-decoration:none;
}
#slogan{
	font-style: italic;
}

img {
	width: 33.33%;
	float:left;
	padding: 1em;
} 

header div{
	padding: 20px;
	float: left;
}
footer {
	padding: 20px;
	text-align: center;
}

div, section {
	
	padding: 20px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
